@model dotnetapp.Models.Player
<h4 style="text-align:center;">Enter Details</h4>
@using(Html.BeginForm())
{
    <div class="panel panel-primary">
    
        
        <div class="form-group">
            @Html.LabelFor(m=>m.Age, new { @class= "control-label" })
            @Html.TextBoxFor(m=>m.Age, new { @class= "form-control"})
            @Html.ValidationMessageFor(m=>m.Age, "", new { @class= "text-danger"})
        </div>
        <br>
        <div class="form-group">
            @Html.LabelFor(m=>m.Name, new { @class="control-lable"})
            @Html.TextBoxFor(m=>m.Name, new { @class= "form-control"})
            @Html.ValidationMessageFor(m=>m.Name, "", new { @class= "text-danger"})
        </div>
        <br>
        <div class="form-group">
            @Html.LabelFor(m=>m.Category, new { @class="control-lable"})
            @Html.TextBoxFor(m=>m.Category, new { @class= "form-control"})
            @Html.ValidationMessageFor(m=>m.Category, "", new { @class= "text-danger"})
        </div>
        <br>
        <div class="form-group">
        <label>Select Team</label>
        <select asp-for="TeamId" asp-items="ViewBag.playerList">
        <option value=''>Choose Team</option>
        </select>
        </div>
        <br>
        <br>
        <div class="form-group">
            @Html.LabelFor(m=>m.BiddingAmount, new { @class="control-lable"})
            @Html.TextBoxFor(m=>m.BiddingAmount, new { @class= "form-control"})
            @Html.ValidationMessageFor(m=>m.BiddingAmount, "", new { @class= "text-danger"})
        </div>
        <br>
    </div>
   
        <br>
        <br>
    
    <input type="submit" value="Add" class="btn btn-success"/>
}