@model dotnetapp.Models.Player;
<h4 style="text-align:center">Delete</h4>
<div class="container col-4">
@using(Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <th><b>Id</b></th>
            <div class="display-field">
            @Html.DisplayFor(m=>m.Id)
            </div>
        </div>
        <br>
        <div class="form-group">
            <th><b>Age</b></th>
            <div class="display-field">
            @Html.DisplayFor(m=>m.Age)
            </div>
        </div>
        <br>
        <div class="form-group">
            <th><b>Name</b></th>
            <div class="display-field">
            @Html.DisplayFor(m=>m.Name)
            </div>
        </div>
        <br>
        <div class="form-group">
            <th><b>Category</b></th>
            <div class="display-field">
            @Html.DisplayFor(m=>m.Category)
            </div>
        </div>
        <br>
        <div class="form-group">
            <th><b>BiddingAmount</b></th>
            <div class="display-field">
            @Html.DisplayFor(m=>m.BiddingAmount)
            </div>
        </div>
        <br>
    </div>
    <br>
    <input type="submit" value="Delete" class="btn btn-danger">

}
</div>