@model IEnumerable<dotnetapp.Models.Player>
    <h4 class="blue-header" style="text-align:center;"><b>Champions Directory</b></h4>
    @Html.ActionLink("Add Player","Create","Player") 
    <br>
    @Html.ActionLink("Search Player","FindPlayer","Player") 
    <br><br>
    <table class="table table-hover">
        <tr>
            <th class="blue-header">@Html.DisplayNameFor(m=>m.Id)</th>
            <th>@Html.DisplayNameFor(m=>m.Age)</th>
            <th>PlayerName</th>
            <th>@Html.DisplayNameFor(m=>m.Category)</th>
            <th>TeamName</th>
            <th>@Html.DisplayNameFor(m=>m.BiddingAmount)</th>
            <th>Actions</th>
        </tr>
        <tbody>
            @foreach(var v in Model)
            {
                <tr>
                    <td>@v.Id</td>
                    <td>@v.Age</td>
                    <td>@v.Name</td>
                    <td>@v.Category</td>
                    <td>@v.Team.Name</td>
                    <td>@v.BiddingAmount</td>
                    <td>
                        @Html.ActionLink("Edit","Edit","Player",new{id=v.Id}, new{@class = "btn btn-primary" }) &nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Delete","Delete","Player",new{id=v.Id}, new{@class = "btn btn-danger" }) &nbsp;&nbsp;&nbsp;

                    </td> 
                   
                </tr>
            
            }
        </tbody>

    