@model IEnumerable<dotnetapp.Models.Player>
    <h4>Player</h4>
    @Html.ActionLink("Add Player","Create","Player")
    <br>
    @Html.ActionLink("Search Player","Find","Player")
   
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(m=>m.Id)</th>
            <th>@Html.DisplayNameFor(m=>m.Age)</th>
            <th>@Html.DisplayNameFor(m=>m.Name)</th>
            <th>@Html.DisplayNameFor(m=>m.Category)</th>
            <th>@Html.DisplayNameFor(m=>m.TeamId)</th>
            <th>@Html.DisplayNameFor(m=>m.BiddingAmount)</th>
        </tr>
        <tbody>
            @foreach(var v in Model)
            {
                <tr>
                    <td>@v.Id</td>
                    <td>@v.Age</td>
                    <td>@v.Name</td>
                    <td>@v.Category</td>
                    <td>@v.TeamId</td>
                    <td>@v.BiddingAmount</td>
                    <td>
                        @Html.ActionLink("Edit","Edit","Player",new{id=v.Id}) &nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Delete","Delete","Player",new{id=v.Id}) &nbsp;&nbsp;&nbsp;

                    </td> 
                   
                </tr>
            
            }
        </tbody>

    