@model dotnetapp.Models.Player
@using(Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.DisplayNameFor(m=>m.Id)
            @Html.DisplayFor(m=>m.Id)
        </div>
        <br>
        <div class="form-group">
            @Html.DisplayNameFor(m=>m.TeamId)
            @Html.DisplayFor(m=>m.TeamId)
        </div>
        <br>
        <div class="form-group">
            @Html.DisplayNameFor(m=>m.Age)
            @Html.DisplayFor(m=>m.Age)
        </div>
        <br>
        <div class="form-group">
            @Html.DisplayNameFor(m=>m.Name)
            @Html.DisplayFor(m=>m.Name)
        </div>
        <br>
        <div class="form-group">
            @Html.DisplayNameFor(m=>m.Category)
            @Html.DisplayFor(m=>m.Category)
        </div>
        <br>
        <div class="form-group">
            @Html.DisplayNameFor(m=>m.BiddingAmount)
            @Html.DisplayFor(m=>m.BiddingAmount)
        </div>
        <br>
    </div>
    <br>
    <br>

}
@Html.ActionLink("Back to List","Index","Player")