@model dotnetapp.Models.Player
@using(Html.BeginForm())
{
    
        <div class="form-group">
            @Html.LabelFor(m=>m.Id, new { @class="control-lable"})
            @Html.DisplayFor(m=>m.Id, new { @class= "form-control"})
        </div>
        <br>
        <div class="form-group">
            @Html.LabelFor(m=>m.TeamId, new { @class="control-lable"})
            @Html.DisplayFor(m=>m.TeamId, new { @class= "form-control"})
        </div>
        <br>
        <div class="form-group">
            @Html.LabelFor(m=>m.Age, new { @class="control-lable"})
            @Html.DisplayFor(m=>m.Age, new { @class= "form-control"})
        </div>
        <br>
        <div class="form-group">
            @Html.LabelFor(m=>m.Name, new { @class="control-lable"})
            @Html.DisplayFor(m=>m.Name, new { @class= "form-control"})
        </div>
        <br>
        <div class="form-group">
            @Html.LabelFor(m=>m.Category, new { @class="control-lable"})
            @Html.DisplayFor(m=>m.Category, new { @class= "form-control"})
        </div>
        <br>
        <div class="form-group">
            @Html.LabelFor(m=>m.BiddingAmount, new { @class="control-lable"})
            @Html.DisplayFor(m=>m.BiddingAmount, new { @class= "form-control"})
        </div>
        <br>
    
    <br>
    <br>

}
@Html.ActionLink("Back to List","Index","Player")