@model IEnumerable<dotnetapp.Models.Team>
    <h2>Teams</h2>
    @Html.ActionLink("Add Teams","Create","Team")
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(m=>m.TeamId)</th>
            <th>@Html.DisplayNameFor(m=>m.Name)</th>
        </tr>
        <tbody>
            @foreach(var v in Model)
            {
                <tr>
                    <td>@v.TeamId</td>
                    <td>@v.Name</td>
                </tr>
            }
        </tbody>