@model IEnumerable<dotnetapp.Models.Team>
    <h2><b>Teams</b></h2>
    
    @Html.ActionLink("Add Teams","Create","Team")
    <table class="table">
        <tr>
            <th><b>@Html.DisplayNameFor(m=>m.TeamId)</b></th>
            <th><b>@Html.DisplayNameFor(m=>m.Name)</b></th>
            <th><b>Actions</b></th>
        </tr>
        <tbody>
            @foreach(var v in Model)
            {
                <tr>
                    <td>@v.TeamId</td>
                    <td>@v.Name</td>
                    <td>
                        @Html.ActionLink("Edit","Edit","Team",new{id=v.TeamId}, new{@class = "btn btn-primary" }) &nbsp;&nbsp;&nbsp;
                </tr>
            }
        </tbody>